
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  /*border: 0px solid white;*/
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #42DCA3;
}
.text-primary {
  color: #74D1CA;
}
.brand-logo {
  height: auto;
  width: 250px;
}
.brand-logo-menu {
  height: auto;
  width: 130px;
}
@media (min-width: 768px) {
  .brand-logo {
    height: auto;
    width: 320px;
  }
}
.title-color {
  color: white;
}
.footer-color {
  color: white;
}

/********** style for galery images for services ********************/
div.service-gallery {
    /*border: 1px solid #74D1CA;*/
    border-radius: 15px;
    height: auto;
}

/*div.service-gallery:hover {
    border: 1px solid #0B8774;
}*/

div.service-gallery img {
    width: 100%;
    height: 230px;
    border-radius: 15px 15px 0px 0px;
}

.service-heading {
  margin: 0 0 20px;
  text-transform: none;
  color: #00C7B7;
  text-align: center;
}

div.service-desc {
    padding: 0px 20px 20px 20px;
    margin: 0px 0px 30px 0px;
    text-align: left;
    color: #425864;
    font-family: "Calibri";
    font-size: 16px;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
}

* {
    box-sizing: border-box;
}

.service-responsive {
    padding: 6px 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .service-responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .service-responsive {
        width: 100%;
    }
    div.service-gallery {
      height: auto;
    }
}
/*********** page loading indicator *****************/
#contenedor_carga {
    /*background-color: #E4F7F4;*/
    background: #02AA90; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#02AA90,#74D1CA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#02AA90,#74D1CA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#02AA90,#74D1CA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#02AA90,#74D1CA); /* Standard syntax */
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga {
    border: 6px solid #ccc;
    border-top-color: #0B8774;
    /*border-top-style: groove;*/
    height: 60px;
    width: 60px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
}
@keyframes girar{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg); }
}
/************* page loading indicator (this is being used) *************/
.spinner {
  width: 60px;
  height: 60px;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  margin: auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*************************
********Home CSS**********
**************************/
#home-slider {
  overflow: hidden;
  position: relative;
}

#home-slider .caption {
  position: absolute;
  top: 50%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

#home-slider .caption h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.caption .btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding:14px 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-top: 40px;
  text-transform: none;
}

.caption .btn-start:hover {
  color: #fff
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.5);
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.left-control, .right-control {
  position: absolute;
  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 48px;
  border-radius: 50%;
  border:1px solid #fff;  
  z-index: 20;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.left-control {
  left: -51px
} 

.right-control {
  right: -51px;
}

.left-control:hover, 
.right-control:hover {
  color: #fff;
}

#home-slider:hover .left-control {
  left:30px
} 

#home-slider:hover .right-control {
  right:30px
}

#home-slider .fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}

/*.navbar-right li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 30px;
}*/

/*.navbar-right li.active a {
  background-color: rgba(0,0,0,.2);
}*/

/*.navbar-brand h1 {
  margin-top: 5px;
}*/

